@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.mobile-container {
  width: 400px;

  box-shadow: 0 0 10px 2px #a5a5a5;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

header input {
  border: none;
  border-radius: 2px;
  background-color: #eee;
  width: 200px;
  padding: 0.2rem 1rem;
  font-family: inherit;
}

header button {
  background-color: transparent;
  border: none;
  color: #aaa;
  padding: 0.2rem 1rem;
  font-family: inherit;
  font-size: 1.2rem;
  margin-left: 10px;
  cursor: pointer;
}

.fav_recipe-container {
  background-color: rgb(169, 207, 223);
  padding: 10px 2px;
}

.fav_recipe-container h3 {
  text-align: center;
}

.fav_meal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0.5rem;
  list-style: none;
  overflow: auto;
}

.fav_meal-container li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85px;
}

.fav_meal-container li img {
  border: 2px solid #fff;
  height: 90%;
  width: 90%;
  border-radius: 50%;
  object-fit: cover;
}

.fav_meal-container li span {
  font-size: 0.7rem;
}

.meals-container {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;

  margin: 1.5rem;
  overflow: hidden;
  box-shadow: 0 0 10px 2px #a5a5a5;
}

.meals-container .meal-header {
  position: relative;
}

.meal-header span {
  position: absolute;
  background-color: #fff;
  padding: 5px;
  top: 15px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.meals-container .meal-header img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.meals-container .meal-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.meal-description h5 {
  margin: 0;
}

.meal-description .fav-btn {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  color: #aaa;
  cursor: pointer;
}

.meal-description .fav-btn.active {
  color: red;
}
